<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <div class="login-modal animate">
    <div class="imgcontainer">
     
    </div>
    <form>
      <ion-list lines="none">
        <ion-item>
          <ion-label position="floating"><b>Correo</b></ion-label>
          <ion-input type="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"><b>Contraseña</b></ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" type="submit" class="login-btn">Iniciar Sesión</ion-button>
      <ion-item lines="none">
        <ion-label>
          <ion-checkbox slot="start" checked></ion-checkbox>
          Recordarme
        </ion-label>
        <ion-note slot="end" color="primary">
          <a href="#">¿Olvidaste tu contraseña?</a>
        </ion-note>
      </ion-item>
    </form>
  </div>
</ion-content> 